body{
    font-family: "Noto Sans KR", "sans-serif";
    min-width: 100%;
    min-height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__loginbox {
    width: 300px;
    height: 350px;
    border: 1px solid #660099;
    border-radius: 20px;
}