@import "../common/variables";

.intro {
  display: flex;
  color: $text-color;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & .intro__contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & .intro__contents--title {
      font-size: 2.3rem;
      font-weight: 700;
    }
    & .intro__contents--body {
      font-size: 1.5rem;
      margin-top: 0.625rem;
    }
  }

  & .form-control {
    width: 18.75rem;
    height: 1.563rem;
  }
}
