// 공통으로 쓰는 부분
@import "./variables";

html {
    height: 100%;
}

body{
    font-family: "Noto Sans KR", "sans-serif";
}

a{
    color: $text-color;
}

main {
    display: grid;
    grid-template-rows: 80px 1fr;
    z-index: 10;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}

#video {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    video {
        object-fit: cover;
    }
}
