.container__header {
    display: flex;
    font-size: small;

    width: 100%;
    height: 100px;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    div[class*="container__header--type-"] {
        text-align: center;
        border-bottom: 2px solid gray;
        margin-right: 10px;
    }
}

.container__header--options{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.container__header--loginlogo {
    width: 150px;
    height: 40px;
    grid-area: logo;
    justify-content: center;

    img {
        width: 100%;
        height: 100%;
    }
}
