.container__header {
    display: flex;
    font-size: small;

    width: 100%;
    height: 30%;

    flex-direction: column;

    justify-content: flex-end;
    align-items: center;

    li[class*="container__header--type-"] {
        list-style-type: none;
        width:80px;
        height: 20px;
        text-align: center;
        border-bottom: 2px solid #898989;
        color: #898989;

        a {
            color: inherit;
            text-decoration: none;
        }

        &.selected {
            color: black;
            border-bottom: 2px solid black;
            // inset : shadow 안쪽에 그려진다.
            // box-shadow (x y blush 색상)
        }
    }
}

.container__header--options{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.container__header--loginlogo {
    width: 150px;
    height: 32px;
    grid-area: logo;
    justify-content: center;

    img {
        width: 100%;
        height: 100%;
    }
}
