.container__header {
    display: grid;
    width: 100%;
    height: 150px;

    grid-template-areas: "logo logo logo"
                         "normal oneoff qrcode";
    justify-content: center;
    align-items: center;

    div[class*="container__header--type-"] {
        text-align: center;
        border-bottom: 2px solid gray;
        margin-right: 10px;
    }

}

.container__header--loginlogo {
    width: 300px;
    height: 80px;
    grid-area: logo;

    img {
        width: 100%;
        height: 100%;
    }
}

.container__header--type-normal{
    grid-area: normal;
}

.container__header--type-oneoff {
    grid-area: oneoff;
}

.container__header--type-qrcode {
    grid-area: qrcode;
}